services:
  vllm-1:
    image: lmcache/vllm-openai:v0.3.0
    platform: linux/amd64
    entrypoint:
      - /bin/sh
      - -c
    command:
      - /opt/etc/start
    volumes:
      - ./etc/:/opt/etc
    networks:
      - vtnet
    environment:
      LMCACHE_CONFIG_FILE: /opt/etc/lmcache_config.yaml
      CUDA_VISIBLE_DEVICES: "0"
    ports:
      - 8001:8000
  vllm-2:
    image: lmcache/vllm-openai:v0.3.0
    platform: linux/amd64
    entrypoint:
      - /bin/sh
      - -c
    command:
      - /opt/etc/start
    volumes:
      - ./etc/:/opt/etc
    environment:
      LMCACHE_CONFIG_FILE: /opt/etc/lmcache_config.yaml
      CUDA_VISIBLE_DEVICES: "1"
    networks:
      - vtnet
    ports:
      - 8002:8000
  lmcache:
    image: lmcache/vllm-openai:v0.3.0
    platform: linux/amd64
    environment:
      LMCACHE_USE_EXPERIMENTAL: "True"
    command:
      - /opt/venv/bin/lmcache_server 0.0.0.0 65432
    networks:
      - vtnet

networks:
  vtnet:
